table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-bottom: 20px;
}

th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

th:first-child,
td:first-child {
    border-left: none;
}

tr th:last-child,
tr td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background: #f3f3f3;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
